* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    #ff9933 52%,
    #ffffff 52% 70%,
    #138808 70%
  );
}
.tribute-img {
  width: 400px;
  height: 400px;
  border: 5px solid salmon;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: #4945af;
}

img {
  width: 100%;
  height: 100%;
}

.full-name {
  text-align: center;
  margin: 20px auto;
  font-weight: 700;
  font-size: 36px;
  color: #222222;
  line-height: 1.4;
  max-width: 90%;
}


.biography {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffffcc;
  border-radius: 10px;
  text-align: justify;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
  .tribute-img {
    width: 250px;
    height: 250px;
  }
}
